
* {
  box-sizing: border-box;
}

/* Style for the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/*Style for the content*/
.content {
    display: flex; /* Keeps it centered horizontally */
    flex-direction: column; /* Stack elements */
    align-items: center; /* Keep items centered */
    padding-top: 80px; /* Push content down from the top */
    min-height: 200vh;
    background: #FFF2CF;
    margin-bottom: 20px;
}


/* Style for header */
.header {
  padding: 80px;
  text-align: center;
  background: #1E3A8A;
  margin-bottom : 20px;

}

/*Style for the navigation bar*/
.navbar {
  position: sticky; /*Making the navigation bar sticky*/
  top: 0;
  overflow: hidden;
}


.navbar {
  overflow: hidden;
  background-color: #FED966;
  margin-bottom : 20px;
}


/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* navigation bar right - login / profile */
.navbar a.right {
  float: right;
}

/* Hover color */
.navbar a:hover {
  background-color: #DA0073;
  color: black;
}

/*Showing active in the navigation bar */
.navbar a.active {
  background-color: #DA0073;
  color: white;
}

/*Style for footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #1E3A8A;
}

/* This will allow the navigation bar to reduce in size when the width of the page its less than 400px */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
