<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<link rel= "stylesheet"  href="{{url_for('static',filename='CSS/style.css')}}"/>
<body>
<div class="header">

</div>

<div class="navbar">
 <a href="/booking"  class="active" >BOOKING</a>
 <a href="/profile" class="right">PROFILE</a>
</div>

<div class="content">

</div>
  <div class="footer">
</div>

</body>
</html>