<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<link rel= "stylesheet"  href="{{url_for('static',filename='CSS/style.css')}}"/>
<body>
<div class="header">

</div>

<div class="navbar">
 <a href="/" >MAIN</a>
 <a href="/about">ABOUT</a>
 <a href="/green_product" class="active" >GREEN PRODUCT</a>
 <a href="/carbon_footprint">CARBON FOOTPRINT</a>
 <a href="/login" class="right">LOGIN</a>
</div>

<div class="content">
</div>

<div class="footer">
</div>

</body>
</html>
