<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>

  </style>
<link rel= "stylesheet"  href="{{url_for('static',filename='CSS/style.css')}}"/>
<body>
<div class="header">

</div>

<div class="navbar">
 <a href="/booking" >BOOKING</a>
 <a href="/profile" class="right" class="active">PROFILE</a>
</div>

<div class="content">
 <h1> Welcome Back ,{{name}} </h1>

</div>
  <div class="footer">
</div>

</body>
</html>